.div-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: auto;
    text-align: left;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    background-color: #cecece;
}

.app-splashscreen-loader-container {
    width: 585px;
    margin-top: 16px;
}

.app-splashscreen-loader-container > div {
    opacity: 0;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-animation: loading 3s cubic-bezier(0, 0.95, 1, 0.05) infinite,
        loading-opacity 1.5s ease-in-out infinite alternate;
    animation: loading 3s cubic-bezier(0, 0.95, 1, 0.05) infinite, loading-opacity 1.5s ease-in-out infinite alternate;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.app-splashscreen-loader-container > div:nth-child(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.app-splashscreen-loader-container > div:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.app-splashscreen-loader-container > div:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.app-splashscreen-loader-container > div:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@keyframes loading {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(535px/2);
        transform: translateX(535px/2);
    }
    55% {
        -webkit-transform: translateX(535px/2);
        transform: translateX(535px/2);
    }
    90% {
        -webkit-transform: translateX(535px);
        transform: translateX(535px);
    }
    100% {
        -webkit-transform: translateX(535px);
        transform: translateX(535px);
    }
}

@keyframes loading-opacity {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes app-blade-progress-translucent-keyframes {
    0% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
