# MToken GDX Configuration
GDX_AUTH_URL=https://.../api/auth
PROFILE_ACCESS_API_URL=https://.../api/profile
CONSUMER_KEY=YOUR_KEY_HERE
CONSUMER_SECRET=YOUR_SECRET_HERE
AGENT_ID=YOUR_AGENT_ID_HERE

# App Configuration
APP_ID_WEBAPP=YOUR_APP_ID_HERE
NEXT_PUBLIC_WEB_URL=http://localhost:3000

# Base Path (if applicable)
NEXT_PUBLIC_BASE_PATH=/webapp
